.DS_Store

# Java
/stow/scripts/bin/apache-maven*
/stow/scripts/bin/google-java-format*

# Accidental keys
private.key
public.key

# GPG
.gnupg/

# Google Cloud SDK (excluded - contains credentials)


