[push]
  default = current
  autoSetupRemote = true
[alias]
  co = checkout
  st = status
  br = branch
  who = shortlog -s --
  df = diff
  ci = commit
  lg = log --oneline --decorate --all --graph
  s = status -s
  g = grep --extended-regexp --break --heading --line-number
  up = !git fetch origin && git rebase origin/master
  down = !git checkout master && git merge @{1} --ff-only
  score = !git log --pretty=format:%an | sort | uniq -ci | sort -r
  find-change = "!f() { git log --reverse --patch --pickaxe-all -S \"$1\" ; }; f"
  hide   = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  undo = reset --soft HEAD^
[user]
  name = Jan Riethmayer
  email = jan@riethmayer.de
	signingkey = 404F29E4EB65CF7EA100957DCAE7D5F3F5A7C6F7
[hub]
  protocol = https
[color]
	ui = true
[core]
  autocrlf = input
  line-numbers = true
  pager = delta
[pull]
	rebase = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg

