[tools]
direnv = "2.35.0"
go = "1.23.3"
zoxide = "0.9.6"
python = "3.12.6"
ruby = "3.3.5"
lua = "5.1.5"
node = "22.14.0"
pnpm = "10.8.1"
java = "temurin-21"



[settings]
idiomatic_version_file_enable_tools = ["python"]
