[env]
GOBIN = ""

[tools]
direnv = "2.35.0"
go = "latest"
zoxide = "latest"
python = "3.12.6"
ruby = "latest"
lua = "5.1.5"
node = "22.14.0"
pnpm = "10.8.1"
bun = "latest"
java = "temurin-21"
1password = "latest"
